<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
    <script src="client.js" type="text/javascript"></script>
    <link rel="stylesheet" href="style.css">
    <title>JEN Stack Start</title>
  </head>
  <body>

    <h1>Inventory your favorite creatures woot!</h1>

    <div class="buttons">
      <button id="addButton" type="button">Add</button>
      <button id="viewButton" type="button">View All</button>
      <button id="searchButton" type="button">Search</button>
    </div>

    <input id="addItem" type="text" placeholder="add animal!"></input>
    <input id="sortItem" type="text" placeholder="search for animal!"></input>

    <div class="output">
      <div class="list"></div>
    </div>

  </body>
</html>
